.product {
  padding: 10px;
  border: black 1px solid;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.product p {
  font-size: 15px;
}

.product__dates {
  display: flex;
  justify-content: space-between;
}

.product__dates p {
  font-size: 13px;
}

.product img {
  width: 50%;
  margin-left: 70px;
  border-radius: 5px;
}

.link {
  list-style: none;
  color: white;
  border: none;
  text-decoration: none;
}